$var title: Welcom to WatchTips
<script src="/static/js/holder.js"></script>
<link href="/static/css/carousel.css" rel="stylesheet">
<link href="/static/css/mycss.css" rel="stylesheet">

<!-- Carousel begin -->
<div id="carousel-intro" class="carousel slide" data-ride="carousel">

  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-intro" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-intro" data-slide-to="1"></li>
    <li data-target="#carousel-intro" data-slide-to="2"></li>
  </ol>

  <!-- Carousel Contents -->
  <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/900x400/auto/#777:#777/">
        <div class="carousel-caption vcenter">
          <h1>Add your tips</h1>
          <p></p>
        </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x400/auto/#777:#7a7a7a/">
        <div class="carousel-caption vcenter">
          <h1>Watch your tips</h1>
          <p></p>
        </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x400/auto/#777:#7a7a7a/">
        <div class="carousel-caption vcenter">
          <h1>Forget your tips</h1>
          <p></p>
        </div>
    </div>
  </div>

  <!-- Carousel control -->
  <a class="left carousel-control" href="#carousel-intro" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-intro" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- Carousel End -->

<!-- Tips for Watching Begin -->
<div class="tips-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="tips-intro">
<!--          <img class="img-circle" 
data-src="holder.js/140x140/auto/#777:#555/text:Python"> -->
            <img class="img-rounded"
              src="/static/image/pythonLogo.png">
          <p class="text-info"> Life is short, I use Python </p>
          <a class="btn btn-primary" href="/watch/python">
            Watch More »
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tips-intro">
          <img class="img-rounded"
            src="/static/image/JSLogo.png">
          <p class="text-info"> Not Java, Not only a Script </p>
          <a type="button" class="btn btn-primary" href="/watch/javascript">
            Watch More »
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tips-intro">
          <img class="img-rounded"
            src="/static/image/HTML5Logo.png">
          <p class="text-info"> Language of the Web </p>
          <a class="btn btn-primary" href="/watch/html5">
            Watch More »
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tips for Watching End -->
